In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\cadit\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\cadit\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cadit\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cadit\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cadit\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cadit\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd 
from pandas import DataFrame

In [ ]:
# Create the DataFrame with values from 0 to 87 in steps of 3
numbers_df = DataFrame(
    np.arange(0, 90, 3).reshape(10, 3)
    index=[f'row {i}' for i in range(1, 11)],  # rows: row 1 to row 10
    columns=[f'column {j}' for j in range(1, 4)]  # columns: column 1 to column 3
)

In [12]:
numbers_df # No need to define pring

        column 1  column 2  column 3
row 1          0         3         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87